[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
regex = "*"
tensorflow-datasets = "==1.2.0"
matplotlib = "*"
tensorflow-gpu = "==2.0.0"

[dev-packages]

[requires]
python_version = "3.6"
